@CHARSET "ISO-8859-1";
title {font-family:serif;color:green;font-size:18pt} 
author{font-family:arial;color:red;font-size:12pt} 
publisher{font-family:arial;color:green;font-size:12pt} 
pages{font-family:arial;color:#AABB12;font-size:12pt} 
price{font-family:arial;color:blue;font-size:12pt}